<div class="page-header">
	<center><h1>Created for International Open Data Day</h1></center>
</div>
<div class="row">
<div class="col-md-10 col-md-offset-1">
	<div class="well">
	<h2>This is a open source project created in support of <a href="http://opendataday.org/">International Open Data Day</a>. Open data is sweeping the nation, helping launch busineses and adding millions of dollars to America's bottom line!</h2>
	</div>
	<h3>You have full permission to <a href="https://github.com/GeekNurse/SB311">fork</a> this code on GitHub and use in your 311 projects.</h3>
	<br>
	<Center><h4><a href="https://data.southbendin.gov/developers/docs/contact-service-queue-activity">South Bend 311 Open Data Portal</a></h4>
	<center><p>Developed by<a href="https://twitter.com/Geek_Nurse"> Brian Norris</a> and <a href="https://twitter.com/skram"> Mark Silverberg</a></p></center>
	<center><p>of<a href="http://socialhealthinsights.com/"> <b>Social Health Insights</b></a></p></center>
</div>
</div>